<p>This is the latest output: <span id="latest"></span></p>
<p>This is all the output:</p>
<pre id="output"></pre>
<script>
    var latest = document.getElementById('latest');
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();
    var position = 0;

    function handleNewData() {
        // the response text include the entire response so far
        // split the messages, then take the messages that haven't been handled yet
        // position tracks how many messages have been handled
        // messages end with a newline, so split will always show one extra empty message at the end
	/*
        var messages = xhr.responseText.split('\n');
        messages.slice(position, -1).forEach(function(value) {
            latest.textContent = value;  // update the latest value in place
            // build and append a new item to a list to log all output
            var item = document.createElement('div');
            item.textContent = value;
            output.appendChild(item);
        });
        position = messages.length - 1;
	*/
        //var messages = xhr.responseText.split('\n');
	//var outhtml = "";
        //messages.slice(position, -1).forEach(function(value) {
	//    outhtml = outhtml + value;
	//});
	var newDoc = document.open('text/html', 'replace');
	newDoc.write(xhr.responseText);
	//newDoc.write(outhtml);
	newDoc.close();
	window.scrollTo(0,document.body.scrollHeight);
        //position = messages.length - 50;
	//output.textContent = xhr.responseText;
    }

    var timer;
    timer = setInterval(function() {
        // check the response for new data
        handleNewData();
        // stop checking once the response has ended
        if (xhr.readyState == XMLHttpRequest.DONE) {
            clearInterval(timer);
            latest.textContent = 'Done';
            console.log("Updating...");
        }
    }, 1000);
</script>
